PGC - Unreal Engine 5/Binaries
PGC - Unreal Engine 5/Build
PGC - Unreal Engine 5/DerivedDataCache
PGC - Unreal Engine 5/Intermediate
PGC - Unreal Engine 5/Saved
PGC - Unreal Engine 5/Script
PGC - Unreal Engine 5/Plugins/HLSL/Intermediate
PGC - Unreal Engine 5/.vs